<h2 class="text-center">Tasks (Ivan)</h2>
<app-task-search></app-task-search>
<div class='addTaskContainer input-group input-group-sm justify-content-center align-items-center'>
  <label class='addTaskItem center-block'>Task name:
    <input #taskName type="text" maxlength="50" />
  </label>
  <label class='addTaskItem'>Task reason:
    <input #taskReason type="text" maxlength="100" />
  </label>
  <label class='addTaskItem'>Task due date:
    <input #taskDueDate name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" placeholder="YYYY-mm-dd" (click)="d.toggle()" type="text" maxlength="10" />
  </label>
  <label class='addTaskItem'>Department:
    <select [(ngModel)]="selectedDepartment" (change)="selectDepartment(selectedDepartment)">
      <option *ngFor="let department of departments" [ngValue]="department">
        {{department.name}}
      </option>
    </select>
  </label>
  <label class='addTaskItem' id="employeeSelect"> Employees:
    <select class="mdb-select" multiple class="multiple" [(ngModel)]="selectedEmployees" (change)="selectEmployees(selectedEmployees)">
      <option *ngFor="let employee of employees" [ngValue]="employee">
        {{employee.name}}
      </option>

    </select>
  </label>
  <button class="btn btn-primary" (click)="add(taskName.value, taskReason.value, taskDueDate.value, selectedEmployees, selectedDepartment);
                 taskName.value=''; taskReason.value=''; taskDueDate.value='';">
    Add!
  </button>
</div>

<div class="row justify-content-center align-items-center">
  <div ngbDropdown class="d-inline-block pb-5" style="width: 12.5%">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="width: 70%">Sort by</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button (click)="orderBy(sortMethod.ID, 'ASC')" class="dropdown-item">ID Asc</button>
      <button (click)="orderBy(sortMethod.ID, 'DESC')" class="dropdown-item">ID Desc</button>
      <button (click)="orderBy(sortMethod.Name, 'ASC')" class="dropdown-item">Name Asc (caps)</button>
      <button (click)="orderBy(sortMethod.Name, 'DESC')" class="dropdown-item">Name Desc</button>
      <button (click)="orderBy(sortMethod.DueDate, 'ASC')" class="dropdown-item">Due Date Asc</button>
      <button (click)="orderBy(sortMethod.DueDate, 'DESC')" class="dropdown-item">Due Date Desc</button>
    </div>
  </div>
</div>

<div class="grid-container">
  <li class="tasks" *ngFor="let task of tasks">
    <a routerLink="/detail/tasks/{{task.id}}">
      <span class="grid-item">{{task.id}} </span> {{task.name}}
    </a>
    <button class="delete" title="delete task" (click)="delete(task)">x</button>
  </li>
</div>