/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.tasks {
  list-style-type: none;
  padding: 0;
  width: 15em;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.addTaskContainer {
  padding: 20px;
}
.addTaskContainer .addTaskItem {
  padding: 10px;
}

li.selected:hover.tasks {
  background-color: #BBD8DC !important;
  color: white;
}

li:hover.tasks {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(193, 240, 24);
}

.grid-item {
  display: inline-block;
  font-size: small;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #F4F892;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button.delete {
  float: right;
  background-color: gray !important;
  color: white;
  margin-top: 2px;
  margin-right: 5px;
}