<app-task-detail [task]="selectedTask"></app-task-detail>

<div class='addTaskContainer'>
  <label class='addTaskItem'>Task name:
    <input #taskName />
  </label>
  <label class='addTaskItem'>Task reason:
    <input #taskReason />
  </label>
  <label class='addTaskItem'>Task time:
    <input #taskMinutes type="number" />
  </label>
  <label class='addTaskItem'>Department:
    <select [(ngModel)]="selectedDepartment" (change)="selectDepartment(selectedDepartment)">
      <option *ngFor="let department of departments" [ngValue]="department">
        {{department.name}}
      </option>
    </select>
  </label>
  <label class='addTaskItem'> Employees:
    <select multiple class="multiple" [(ngModel)]="selectedEmployees" (change)="selectEmployees(selectedEmployees)">
      <option *ngFor="let employee of employees" [ngValue]="employee">
        {{employee.name}}
      </option>

    </select>
  </label>
  <button (click)="add(taskName.value, taskReason.value, taskMinutes.value, selectedEmployees, selectedDepartment);
                 taskName.value=''; taskReason.value=''; taskMinutes.value=''; selectedEmployees=''; selectedDepartment=''">
    Add!
  </button>
</div>

<h2>My Tasks</h2>
<div class="grid-container">
  <li class="tasks" *ngFor="let task of tasks" [class.selected]="task === selectedTask" (click)="selectTask(task)">
    <span class="grid-item">{{task.id}} </span> {{task.name}}
    <button class="delete" title="delete task" (click)="delete(task)">x</button>
  </li>
</div>