<h2>Departments</h2>
<app-department-search></app-department-search>
<div class="addDepartmentInfo input-group input-group-sm justify-content-center align-items-center">
  <label class='addDepartmentInfo center-block'> Department name: 
      <input #depName/>
  </label>
  <label class='addDepartmentInfo'>Department role:
      <input #depRole>
  </label>

   
  <button class="btn btn-primary" (click)="add(depName.value, depRole.value); depName.value=''; depRole.value=''">Add</button>
</div>





<div class="grid-container">


  <li class="departments" *ngFor="let department of departments" (click)="onSelect(department)">
      <a routerLink="/detail/departments/{{department.id}}">
        <span class="grid-item"> {{department.id}} </span> {{department.name}}
      </a>
    <button class="buttondeleteDepartments" title="delete task" (click)="delete(department)">x</button>

  </li>


</div>

