<div *ngIf="selectedDepartment">

  <h2>{{selectedDepartment.name}} Details</h2> 
  <div><span>id: </span>{{selectedDepartment.id}}</div>
  <div>
    <label>name: 
      <input [(ngModel)]="selectedDepartment.name" placeholder="name">
    </label>
  <div>
    <label>role:
      <input [(ngModel)]="selectedDepartment.role" placeholder="role">
    </label>
  </div>

  </div>
  
</div>


<div class="addDepartmentInfo">
  Department name: <input #depName>
  Department role: <input #depRole >
  <button class="buttonAddDepartments" type="button" (click)="add(depName.value, depRole.value); depName.value=''; depRole.value=''">Add</button>
</div>



<h2>My Departments</h2> 
<div class="grid-container">

 
    <li class="departments" *ngFor="let department of departments"
   [class.selected]="department === selectedDepartment" 
   (click)="onSelect(department)">
    <span class="grid-item">{{department.id}} </span> {{department.name}}

    </li>
  
</div>




