<div class="container" *ngIf="employee">
    <div class="row p-3">
        <div class="col"></div>
        <div class="col card" style="width: 18rem;">
            <button (click)="goBack()">Go back!</button>
            <div class="card-body">
                <h5 class="card-title"><input [(ngModel)]="employee.name" placeholder="name" type="text" maxlength="55"></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: {{employee.id}}</li>
                <li class="list-group-item">Date of Hire: {{employee.doh}}</li>
                <li class="list-group-item">Telephone: {{employee.telephone}}</li>
                <li class="list-group-item">Department: {{employee.department.name_department}}
                </li>
            </ul>
            <button (click)="updateEmployee()">Update!</button>
        </div>
        <div class="col"></div>
    </div>