<div class="search-component input-group input-group-sm justify-content-center align-items-center">
  <div class="container align-items-center">
    <div class="row">
      <div class="col text-center">
        <h4>Task Search</h4>
        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
        <ul style="position: relative; left: 36.72%;" class="search-result">
          <li *ngFor="let task of tasks$ | async">
            <a routerLink="../detail/tasks/{{task.id}}">
              {{task.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>