<button (click)="goBack()">Go back</button>
<div *ngIf="task">
  <h2>{{task.name}} Details</h2>
  <div><span>id: </span>{{task.id}}</div>
  <div><span>reason: </span>{{task.reason}}</div>
  <div><span>due date: </span>{{task.dueDate}}</div>
  <div>
    <label>
      employees:
      <span *ngFor="let employee of task.employees; let last = last">
        <span *ngIf="last; else notLast">{{employee.name}}</span>
        <ng-template #notLast>
          {{employee.name}},
        </ng-template>
      </span>
    </label>
  </div>
  <div><span>department: </span>{{task.department.name}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="task.name" placeholder="name">
    </label>
  </div>
  <button (click)="updateTask()">Update!</button>
</div>