<div class="container" *ngIf="task">
  <div class="row p-3">
    <div class="col"></div>
    <div class="col card" style="width: 18rem;">
      <button (click)="goBack()">Go back!</button>
      <div class="card-body">
        <h5 class="card-title"><input [(ngModel)]="task.name" placeholder="name"></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{task.id}}</li>
        <li class="list-group-item">Reason: {{task.reason}}</li>
        <li class="list-group-item">Employees:
          <span *ngFor="let employee of task.employees; let last = last">
            <span *ngIf="last; else notLast">{{employee.name}}</span>
            <ng-template #notLast>
              {{employee.name}},
            </ng-template>
          </span>
        </li>
        <li class="list-group-item">Due Date: {{task.dueDate}}</li>
        <li class="list-group-item">Department: {{task.department.name}}</li>
      </ul>
      <button (click)="updateTask()">Update!</button>
    </div>
    <div class="col"></div>
  </div>
</div>