<div *ngIf="department">

  <h2>{{department.name}} Details</h2> 
  <div><span>id: </span>{{department.id}}</div>
  <div>
    <label>name: 
      <input [(ngModel)]="department.name" placeholder="name">
    </label>
    <label>role:
      <input [(ngModel)]="department.role" placeholder="role">
    </label>
    <div>
      employees:
      <span *ngFor="let employee of department.employees; let last = last">
        <span *ngIf="last; else notLast">{{employee.name}}</span>
        <ng-template #notLast>
          {{employee.name}},
        </ng-template>
      </span>
    </div>
  </div>
  
</div>